body {
    padding: 0;
    padding-bottom: 26px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    color: #000;
}
.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.container .alert {
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}
#logo {
    border-bottom: solid 1px #CCC;
}
#logo img {
    height: 75px;
    width: 115px;
    margin: 26px 10px;
}
.main {
    margin-top: 26px;
    margin-left: 50px;
    margin-right: 50px;
}
.main h3 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}
input.focus {
    visibility: hidden;
    position: absolute;
    top: -100px;
}


.register {
    margin: 10px 0;
    margin-top: 30px;
}
.register > div {
    padding-bottom: 10px;
}
.register label {
    display: inline-block;
    width: 95px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
}
.register input[type=text], .register input[type=password] {
    width: 400px;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 3px;
    border: solid 1px #CCC;
    background-color: #FFF;
    vertical-align: middle;
    display: inline-block;
    height: 26px;
}
.register .checkbox {
    height: 105px;
    margin-top: 16px;
    margin-left: 95px;
    margin-bottom: 42px;
    width: 400px;
}
.register .recaptchatable .g-recaptcha input {
    height: auto;
}
.container .submit {
    text-align: right;
    border-top: solid 1px #CCC;
    padding-top: 26px;
}
.container .button {
    font-size: 1em;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #999;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: #2e72bf;
    background: -webkit-linear-gradient(#2e72bf, #1f5a96);
    background: -moz-linear-gradient(#2e72bf, #1f5a96);
    background: -o-linear-gradient(#2e72bf, #1f5a96);
    background: linear-gradient(#2e72bf, #1f5a96);
    display: inline-block;
}
.container .button:hover {
    background: #4484ca;
    background: -webkit-linear-gradient(#5d95d4, #5788ba);
    background: -moz-linear-gradient(#5d95d4, #5788ba);
    background: -o-linear-gradient(#5d95d4, #5788ba);
    background: linear-gradient(#5d95d4, #5788ba);
    cursor: pointer;
}
